.title{
    font-size: 61px;
    margin-top: 59px;
    margin-bottom: 20px;
}
html{
    background-color: red;
}
.block{
    margin-top: 130px;
}
.flex{
    display: flex;
    flex-direction: column;
}
.flex-wrap{
    display: flex;
    justify-content: space-between;
}
.center{
    text-align: center;
    align-items: center;
}
.input-fields{
    padding: 30px;
    border-radius: 50px;
    margin-bottom: 20px;
}
.interests {
    display: flex;
    padding: 30px 0px;
}
.upload-fields{
    padding-left: 130px;
    color: black;
}
.resize{
    width: 30%;
}
label {
    padding: 10px;
    display: inline-block;
    color: black;
}
label.required {
    margin-top: 27px;
    font-size: larger;
}
.rounded-btn{
    padding: 20px 86px;
    background-color: white;
    margin-bottom: 20px;
    color: black;
    border-radius: 50px;
    font-size: large;
    font-weight: 900;
    display: block;
    margin-left: -10px;
    margin-top: -20px;
}
.flex-register{
    display: flex;
    justify-content: center;
}
.signin{
    padding-top: 29px;
    padding-left: 27px;
}
.signup{
    padding-left: 20px;
}
